<nav
  class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block navbar-klean"
  data-navbar-on-scroll="data-navbar-on-scroll"
>
  <div class="container">
    <a
      class="navbar-brand d-flex align-items-center fw-semi-bold fs-3"
      href="/"
    >
      <img class="me-3" src="/assets/img/logo.png" alt=""
    /></a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto pt-2 pt-lg-0 font-base">
        <li class="nav-item dropdown">
          <!-- <a
            class="nav-link dropdown-toggle"
            href="/"
            id="menu-home"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Home</a
          >
          <ul class="dropdown-menu" aria-labelledby="menu-home">
            <li>
              <a class="dropdown-item" href="#our-mission">Our Mission</a>
            </li>
            <li>
              <a class="dropdown-item" href="#featured-authors"
                >Featured Authors</a
              >
            </li>
          </ul> -->
          <a class="nav-link" href="/" id="menu-home" aria-expanded="false"
            >Home</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/about-us"
            id="menu-about"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >About Us</a
          >
          <ul class="dropdown-menu" aria-labelledby="menu-about">
            <li><a class="dropdown-item" href="/about-us">Overview</a></li>
            <li>
              <a class="dropdown-item" href="/about-us#what-we-publish"
                >What We Publish</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/about-us#our-mission"
                >Our Mission</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/contact-us">Contact Us</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="index.html"
            id="dropdown08"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Join Us</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdown08">
            <li><a class="dropdown-item" href="#">Applications</a></li>
            <li><a class="dropdown-item" href="#">Submissions</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#team"
            id="dropdown08"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Our Team</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdown08">
            <li>
              <a class="dropdown-item" href="/our-team">Overview</a>
            </li>
            <li>
              <a class="dropdown-item" href="/our-team#female-authors"
                >Female Authors</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/our-team#male-authors"
                >Male Authors</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/our-team#editors">Editors</a>
            </li>
            <li>
              <a class="dropdown-item" href="/our-team#managers">Managers</a>
            </li>
            <li>
              <a class="dropdown-item" href="/our-team#executives"
                >Executives</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="index.html"
            id="dropdown08"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Legal</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdown08">
            <li><a class="dropdown-item" href="#">Copyright</a></li>
            <li><a class="dropdown-item" href="#">Legal Notice</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="index.html"
            id="dropdown08"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >FAQ</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdown08">
            <li><a class="dropdown-item" href="#">General</a></li>
            <li><a class="dropdown-item" href="#">Business</a></li>
            <li><a class="dropdown-item" href="#">Step By Step</a></li>
          </ul>
        </li>
      </ul>
      <ul class="list-unstyled list-inline my-3">
        <li class="list-inline-item">
          <a class="text-decoration-none" href="#!"
            ><img
              class="list-social-icon"
              src="/assets/img/icons/facebook.svg"
              alt=""
              width="25"
          /></a>
        </li>
        <li class="list-inline-item">
          <a class="text-decoration-none" href="#!"
            ><img
              class="list-social-icon"
              src="/assets/img/icons/twitter.svg"
              alt=""
              width="25"
          /></a>
        </li>
        <li class="list-inline-item">
          <a class="text-decoration-none" href="#!"
            ><img
              class="list-social-icon"
              src="/assets/img/icons/linkdin.svg"
              alt=""
              width="25"
          /></a>
        </li>
        <li class="list-inline-item">
          <a class="text-decoration-none" href="#!"
            ><img
              class="list-social-icon"
              src="/assets/img/icons/youtube.svg"
              alt=""
              width="25"
          /></a>
        </li>
        <li class="list-inline-item">
          <a class="text-decoration-none" href="#!"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
